
/* 
 margin: 20px 160px;
    display: flex;
    justify-content: space-between;
*/


*{
    background-color: #eaedf4ce;
}



.title{
    font-weight: bold;
    font-size: 40px;

}
.st-text{
    font-weight: 400px;
    font-size: 16px;
    color: #635c5c;
}


.nav{
    background-color: #eaedf4ce;

    /* width: 100%; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 160px;
    padding-right: 160px;

    /* margin-left: 160px; */
    /* margin: 31px 160px; */

}
.nav-title{
    font-weight: bold;
    font-size: 32px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif ; */
}
.nav-btn{
    padding: 15px 30px;
    border-radius: 18px;
    font-weight: 600px;
    color: #006A50;
}

/* banner style */
#banner{

    height: 560px;
    border-radius: 24px;

    background-color: #C6E4D6;
  
    margin: 20px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    
}
.transparent{
     background-color: transparent;

}
.banner-title{
    font-weight: bold;
    font-size: 56px;
}
.banner-subtitle{
    font-size: 24px;
    font-weight: 400px;
    color: #635c5c;
}
.green-btn{
    padding: 17px 34px;
    border-radius: 8px;
    background-color: #006A50;
    color: white;
    border: none;
}

.id{
    margin: 40px 160px;

    
}
.item-container{
  
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.items{
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
}

/* vision style */

.vision-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 32px;
   
}
.vision-card-1{
    padding: 32px;
    border-radius: 16px;
    height: 325px;
    background-color: #c9d3e6ef;
}
.vision-btn-1{
    border: none;
border-radius: 8px;
background-color: #5490F5;
color: #ffffff;
padding: 11px 20px;
margin-top: 48px;

}
.vision-card-2{
    padding: 32px;
    border-radius: 16px;
    height: 325px;

    background-color: #add5c3eb;
}
.vision-btn-2{
    border: none;
border-radius: 8px;
background-color: #09A15C;
color: #ffffff;
padding: 11px 20px;
margin-top: 48px;
}
.vision-card-3{
    
   
    padding: 32px;
    border-radius: 16px;
    height: 325px;

    background-color: #d3c7ade5;
}
.vision-btn-3{
    border: none;
border-radius: 8px;
background-color: #FFC239;
color: #ffffff;
padding: 11px 20px;
margin-top: 64px;

}
.yunus{
    margin-top: 32px;
    padding: 48px 24px;
    border-radius: 16px;
    
    background: url(../media/assets/quote-bg.png), linear-gradient(#ffffff,#ffffff);
    background-position: 2% 15% ;
  
    background-repeat: no-repeat;
    
}

/* opinion style */

.opinion-box{
    background:linear-gradient(#ffffff,#ffffff); ;
    padding: 32px;
}


table{
    border: 1px solid;
    height: 345px;
    width: 100%;
    border-collapse: collapse;
}
td, th{
    border: 1px solid #635c5c;
}
.td-1{
    padding: 36px 24px;
}
.td-2{
    padding: 24px;
}
.alone{
    margin: 10px 160px;
}
.tb-btn{
    padding: 12px 16px;
}
